.app {
  text-align: center;
}

.info-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: grey;
}

input {
  border: 1px solid black;
}

span {
  background-color: lightgreen;
}
